@{
    ViewData["Title"] = "Contact";
}
<div>

    <div class="jumbotron">
        <h2>@ViewData["Title"]</h2>

        <address>
            Lorem street<br />
            Denmark, blabla<br />
            <abbr title="Phone">P:</abbr>
            99 29 99 29
        </address>

        <address>
            <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>
</div>

