@model I4GUIWebApp.Models.VarroaViewModels.CreationViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>VarroaCount</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Beehive" class="control-label"></label>
                <input asp-for="Beehive" class="form-control" />
                <span asp-validation-for="Beehive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DOC" class="control-label"></label>
                <input asp-for="DOC" class="form-control" />
                <span asp-validation-for="DOC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Varroa" class="control-label"></label>
                <input asp-for="Varroa" class="form-control" />
                <span asp-validation-for="Varroa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ObservationLength" class="control-label"></label>
                <input asp-for="ObservationLength" class="form-control" />
                <span asp-validation-for="ObservationLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comments" class="control-label"></label>
                <input asp-for="Comments" class="form-control" />
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
