@{
    ViewData["Title"] = "About";
}

<div class="NotIndex" id="About">
    <div class="jumbotron">
        <h2>Varroa mites</h2>
        <h3>Background</h3>
        <img src="/images/Varroa-mite-2.jpg" alt="Honey Bee with Varroa mite" class="img-fluid float-left beeImage"/>
        <p>Varroa mites (Varroa destructor and V. jacobsoni) are tiny red-brown external parasites of honey bees. Although Varroa mites can feed and live on adult honey bees, they mainly feed and reproduce on larvae and pupae in the developing brood, causing malformation and weakening of honey bees as well as transmitting numerous viruses.</p>

        <p>
            Colonies with low infestation generally show very few symptoms, however as the mite population increases symptoms become more apparent. Heavy Varroa mite infestations can build up in 3–4 years and cause scattered brood, crippled and crawling honey bees, impaired flight performance, a lower rate of return to the colony after foraging, a reduced lifespan and a significantly reduced weight of worker bees. Colony symptoms, commonly called parasitic mite syndrome, include an abnormal brood pattern, sunken and chewed cappings and larvae slumped in the bottom or side of the cell. This ultimately causes a reduction in the honey bee population, supersedure of queen bees and eventual colony breakdown and death.
        </p>
    </div>
</div>

