@model I4GUIWebApp.Models.HomeViewModels.VarroaListViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="jumbotron">
        <h1 class="display-3">Hello, Welcome</h1>
        <p class="lead">Varroa mites are the pests of honey bees.</p>
        <hr class="my-4">
        <p>This site contains a logging mechanism to help track the growth of Varroa mites.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Register, is's free</a>
    </div>
</div>


<div id="ListOfVarroa">
    <div class="jumbotron">
        <h4>Lists of Varroa pr. Zipcode</h4>
        <table class="table">
            <thead>
            <tr>
                <th>
                    Zip code
                </th>
                <th>
                    Median
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Varroa)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Item1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Item2)
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>